<h1>Movie Reviews</h1>

<ul>
    <li><a >
            <table border=0 cellpadding=0 cellspacing=0>
                <tr>
                    <i class="material-symbols-outlined">event_list</i>
                    <td><span class="collapsible">All Reviews</span></td>
                </tr>
            </table>
        </a></li>
    <li><a [routerLink]="['/reviewerlist']" >
            <table border=0 cellpadding=0 cellspacing=0>
                <tr>
                    <i class="material-symbols-outlined">groups</i>
                    <td><span class="collapsible">All Reviewers</span></td>
                </tr>
            </table>
        </a></li>
        <li><a [routerLink]="['/addReview']" >
                <table border=0 cellpadding=0 cellspacing=0>
                    <tr>
                        <i class="material-symbols-outlined">add</i>
                        <td><span class="collapsible">Add Review</span></td>
                    </tr>
                </table>
            </a></li>

</ul>
<table cellPadding="10" cellSpacing="0" border="1">
    <tr>

        <th><a (click)="sortBy('rid')">RID</a></th>
        <th><a (click)="sortBy('title')">Title</a></th>
        <th><a (click)="sortBy('stars')">Stars</a></th>
        <th><a (click)="sortBy('uid')">UID</a></th>
        <th><a>Action?</a></th>
    </tr>
    <tr *ngFor="let review of reviews">

        <td><a [routerLink]="['/reviews/',review.rid]">{{review.rid}}</a></td>
        <td>{{review.title}}</td>
        <td>{{review.stars}}</td>
        <td><a [routerLink]="['/reviewers/', review.uid]">{{review.uid}}</a></td>
        <td><a [routerLink]="['/editReview/',review.rid]"><i class="material-icons">edit</i></a>
            <a (click)="deleteStudent(review.rid)"><i class="material-icons">delete</i></a>
        </td>
    </tr>
</table>


<p>
    <a [routerLink]="['/addReview']">
        <i class="material-symbols-outlined">add</i>
        Add Review</a>
</p>