ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a2836e;
}

li {
    float: left;
}


li a {
    display: block;
    color: #d9ad7c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

th {
    border-bottom: 5px double #d9ad7c;
}

td{
    color: #fff2df;
    word-wrap: break-word;
}


tr:nth-child(even) {
    background-color: #d9ad7c;
}

a{
    color: #fff2df;
}