<h1>Student: {{sid}}</h1>

<table cellPadding="10" cellSpacing="0" border="1">
    <tr>
        <td>SID:</td>
        <td>{{student.sid}}</td>
    </tr> 
    
    <tr>
        <td>Name:</td>
        <td>{{student.name}}</td>
    </tr> 
    
    <tr>
        <td>Major:</td>
        <td>{{student.major}}</td>
    </tr> 
    
    <tr>
        <td>Hours:</td>
        <td>{{student.hours}}</td>
    </tr> 
    
    <tr>
        <td>Class:</td>
        <td> {{className}}</td>
    </tr> 

    <tr>
        <td>
            <div *ngIf="this.lowGPA; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    GPA:
                </ng-template>
                <ng-template #elseBlock>
                    GPA(GPA is low, please see your adivsor):
                </ng-template>

        </td>
        <td>{{student.gpa | number: '1.2-2'}}</td>
    </tr>     
</table>

<p>
    <a [routerLink]="['/studentlist']">Roster</a>
    <a (click)="logout()">Log Out</a>
</p>
