ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a2836e;
}

li {
    float: left;
}


li a {
    display: block;
    color: #d9ad7c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
    color: #a2836e;
}

input{
    width: 200px;
    text-align: center;
}

select{
    width: 210px;
    text-align: center;
}
textarea{
    width: 200px;
    text-align: justify;
}

a{
    color: #fff2df;
}
