<h1>Add Student</h1>


<ul>
    <li><a [routerLink]="['/reviewlist']">
            <table border=0 cellpadding=0 cellspacing=0>
                <tr>
                    <i class="material-symbols-outlined">event_list</i>
                    <td><span class="collapsible">All Reviews</span></td>
                </tr>
            </table>
        </a></li>
</ul>

<form (ngSubmit)="onSubmit()" novalidate #myform="ngForm">
    <table cellpadding=10 cellspacing=0 border=1>

        <tr>
            <td>RID </td>
            <td><input disabled="yes" type="number" [(ngModel)]="review.rid" required intval minval="100" maxval="999" name="rid" #rid="ngModel"></td>
        </tr>
        <tr>
            <td>Movie Title<span *ngIf="(title.invalid && title.errors?.['required']) && (title.dirty || title.touched)">(A Movie Title is required)</span></td>
            <td><input type="text" [(ngModel)]="review.title" required name="title" #title="ngModel"></td>
        </tr>
        <tr>
            <td>Stars</td>
            <td>
                <input type="range" id="stars" [(ngModel)]="review.stars" min="0" max="5" step="0.1" name="stars" #stars="ngModel" required value="5">
                {{review.stars}}
            </td>
        </tr>
        <tr>
            <td>Body Review<span *ngIf="(body.invalid && body.errors?.['required']) && (body.dirty || body.touched)"> (A
                    Body is required)</span></td>
            <td><textarea style="height:120px; width:200px;" type="text" [(ngModel)]="review.body" required name="body"
                    #body="ngModel"></textarea></td>
        </tr>
        <tr>
            <td>Reviewer
                <span *ngIf="(uid.invalid && uid.errors?.['required'])"> (Reviewer is required)</span>
            </td>
            <td><select #uid="ngModel" [(ngModel)]="review.uid" required name="uid" (change)="onUIDSelect(uid.value)">
                <option *ngFor="let tta of reviewers" [value]="tta.uid">
                    {{tta.name}}
                </option>
            </select>
        </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Commit Changes" [disabled]="!myform.form.valid">
        </tr>
    </table>
</form>