ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a2836e;
}

li {
    float: left;
}


li a {
    display: block;
    color: #d9ad7c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

th {
    border-bottom: 5px double #d9ad7c;
}


tr:nth-child(even) {
    background-color: #d9ad7c;
}

h1 {
    color: #a2836e;
}

body {
    background-color: #674d3c;
    color: #a2836e;
}

label{
	cursor: default;
    text-align: center;
}

a{
    color: #fff2df;
}
