<h1>Review ID: {{review.rid}}</h1>

<table cellPadding="10" cellSpacing="0" border="1">
    <tr>
        <td>RID:</td>
        <td>{{review.rid}}</td>
    </tr> 
    
    <tr>
        <td>Movie Title:</td>
        <td>{{review.title}}</td>
    </tr> 
    
    <tr>
        <td>Stars:</td>
        <td>{{review.stars}}</td>
    </tr> 
    
    <tr>
        <td>Body:</td>
        <td>{{review.body}}</td>
    </tr> 
    
    <tr>
        <td>User ID:</td>
        <td> {{review.uid}}</td>
    </tr> 
</table>

<p>
    <a [routerLink]="['/reviewlist']">Roster</a>
</p>
